<div class="container">
    <div class="row row row-offcanvas row-offcanvas-right code-template" ng-class="{'active' : toggle}">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" ng-click="toggleNav()">Toggle nav</button>
           </p>                      
           <div class="jumbotron intro">
                <h2>Algorithms and Data structures</h2>
                <p class="lead">Code samples in Javascript and C++.
                    <br>You can also view the Developer Console.</p>
            </div>
            <div class="pull-left col-xs-12 col-sm-9">
                <p>
                The front-end is built using Angular JS and Bootstrap frameworks.
                It also uses UI Router and UI Bootstrap Angular modules.
                </p>
                <p>
                To see the Responsive Design resize the width of your browser window.
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="list.html" class="list-group-item">Linked List</a>
                <a href="qsort.html" class="list-group-item">Quicksort</a>
                <a href="palperm.html" class="list-group-item">Palindrome</a>
                <a href="sieve.html" class="list-group-item">Sieve of Eratosthenes</a>
                <a href="class.html" class="list-group-item">Classes and ES6</a>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <span>&copy; 2016 Kurt Jonach</span>
    </footer>
</div>
