<div class="container">
    <div class="row row row-offcanvas row-offcanvas-right code-template" ng-class="{'active' : toggle}">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" ng-click="toggleNav()">Toggle nav</button>
           </p>                      
            <div class="jumbotron intro">
              <h2>{{name}}</h2>
              <p class="lead">
                  Quicksort uses a divide-and-conquer, recursive algorithm.
             </p>
            </div>
            
            <div class="pull-right">
                <div ng-controller="codeModal">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">{{name}}</h3>
                        </div>
                        <div class="modal-body source">
                            <pre ng-controller="sourceController">{{source}}</pre>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                        </div>
                    </script>
                    <button type="button" class="btn btn-default" ng-click="modalCPP()">C++ Code</button>
                    <button type="button" class="btn btn-default" ng-click="modalJS()">JavaScript</button>
                </div>                    
            </div>
            <div class="pull-left col-xs-12 col-sm-9">
                <p>You can see Quicksort run in the Developer Console.</p>
            </div>
            
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="list.html" class="list-group-item">Linked List</a>
                <a href="qsort.html" class="list-group-item active">Quicksort</a>
                <a href="palperm.html" class="list-group-item">Palindrome</a>
                <a href="sieve.html" class="list-group-item">Sieve of Eratosthenes</a>
               <a href="class.html" class="list-group-item">Classes and ES6</a>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <span>&copy; 2016 Kurt Jonach</span>
    </footer>
</div>
